@font-face {
    font-family: 'ubuntu';
    src: url('../fonts/Ubuntu-Light.ttf');
}

body {
    margin: 0px;
    color: #333;
    font-family: ubuntu;
    font-size: 14px;
}

main {
    margin: auto;
    width: 970px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    color: black;
}

a {
    text-decoration: none;
    color: #478061;
}

a:hover {
    color: black;
}

nav {
    position: sticky;
    height: 50px;
    top: 0px;
    background-color: #478061;
    margin-bottom: 20px;
}

nav li {
    display: inline;
    margin: 0px;
}

nav ul {
    margin: auto;
    padding: 15px;
    width: fit-content;
}

footer div {
    margin: auto;
    width: fit-content;
}

footer div p {
    text-align: center;
}

hr {
    border: 0;
    border-top: 1px solid #eee;
}

.navlink {
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 1.2em;
}

.navlink:hover {
    background-color: black;
    color: white;
}

.column { 
    vertical-align: top;
    display: inline-block;
    
}

.logo {
    position: relative;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.intro {
    width: 700px;
}

.card {
    padding: 1%;
    width: 30%;
}

.fa-solid.fa-rss {
    color: white;
    background-color: #478061;
    border-radius: 5px;
    padding: 4px 5px 4px 5px;
}

.fa-solid.fa-rss:hover {
    background-color: black;
}

#void_fg {
    width: 174px;
}

#void_bg {
    transition: transform 2s ease;
}

.column.logo:hover > #void_bg {
    transform: rotate(360deg);
}

@media (max-width: 767px) {

}